<h1 class="text-center">Welcome to Your Cookbook</h1>

<p>You currently have in your cookbook:</p>

<div>
  <% @recipes.each_with_index do |recipe, index| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= recipe.name %></h5>
        <p class="card-text"><%= recipe.description %></p>
        <a href="/recipes/<%= index %>" class="btn btn-danger">Delete</a>
      </div>
    </div>
  <% end %>
</div>

<a href="/new" class="btn btn-primary"> Add a new recipe</a>
