<h1 class="text-center">Welcome to Your Cookbook</h1>

<p>You currently have in your cookbook:</p>

<div class="d-grid gap-3">
  <% @recipes.each_with_index do |recipe, index| %>
    <div class="card p-2 mx-auto" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= recipe.name %></h5>
        <p class="card-text"><%= recipe.description %></p>
        <a href="/recipes/<%= index %>" class="btn btn-light"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="/recipes/<%= index %>" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
      </div>
    </div>
  <% end %>
</div>

<a href="/new" class="btn btn-primary m-3"> Add a recipe</a>
<a href="" class="btn btn-link m-3"> Import a recipe</a>
